/* General */
img {
	max-width: 100%;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"] {
	height: 2.75rem !important;
}

dd ~ dd {
	margin-bottom: 0;
}

dd + dt {
	margin-top: 0.75rem;
}

.button.wide {
	width: 100%;
}

/* Structure */
.site-section {
	padding: 1.5em 0;
}

.site-section:nth-child(odd) {
	background-color: #fbfbfb;
}

.site-intro {
	background: url('https://api.fnkr.net/testimg/1600x720/ddd/eee/?text="Imagem"') no-repeat;
}

.site-footer {
	background-color: #eee !important;
}

/* WordPress */
.hentry {
	margin-bottom: 1em;
}

.entry-image,
.widget {
	margin-bottom: 1.5em;
}
