<div class="medium-4 columns">
	<div class="widget-area widget-area__sidebar">
		<div class="widget site-video">
	  		<h4>Vídeos</h4>
			<img class="th" src="https://api.fnkr.net/testimg/1280x720/ddd/666/?text=Vídeo">
		</div>

		<div class="widget site-events">
			<h4>Agenda</h4>
			<div class="row">
				<div class="small-4 columns">
					<div class="panel text-center">20/09</div>
				</div>
				<div class="small-8 columns">
					<h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h5>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<div class="panel text-center">20/09</div>
				</div>
				<div class="small-8 columns">
					<h5><a href="#">Aspernatur recusandae, quos eligendi distinctio</a></h5>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<div class="panel text-center">20/09</div>
				</div>
				<div class="small-8 columns">
					<h5><a href="#">Laboriosam itaque perferendis ipsum voluptatibus est fugiat</a></h5>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<div class="panel text-center">20/09</div>
				</div>
				<div class="small-8 columns">
					<h5><a href="#">Laboriosam itaque perferendis ipsum voluptatibus est fugiat</a></h5>
				</div>
			</div>
		</div>
	</div><!-- .widget-area -->
</div>