{% include header.html %}

    <div class="site-main">
    	<div class="page-header site-section">
	    	<div class="row">
		    	<div class="large-12 columns">
		    		<h1>Parlamentar</h1>
		    		<h3 class="subheader">Deputado Estadual</h3>
		    	</div>
	    	</div>
    	</div>
    	<div class="site-content site-section">
		    <div class="row">
				<div class="large-12 columns">
					
						<article class="hentry clearfix">
							<div class="row">

								<div class="medium-6 medium-push-6 columns">
									<div class="entry-image">
										<img class="th" src="https://api.fnkr.net/testimg/640x480/ddd/666/?text=Parlamentar">
									</div>
								</div>
								<div class="medium-6 medium-pull-6 columns">
									<h3>Nome completo do parlamentar</h3>
									<p>Nascido em 1941, casado, natural de Curitiba - PR. Possui ensino superior completo e é advogado.</p>
									
									<ul class="no-bullet">
										<li>Rua Dom João, S/N Centro. Curitiba - PR</li>
										<li>Telefone: (41) 3077-9900</li>
										<li>Email: <a href="#">email@partidorede.org.br</a></li>
									</ul>
								
								
									<ul class="no-bullet">
										<li><a href="#">Wikipedia</a></li>
										<li><a href="#">Facebook</a></li>
										<li><a href="#">Twitter</a></li>
										<li><a href="#">YouTube</a></li>
									</ul>
									
								</div>
								
							</div>

							<hr>

							<div class="row">
								<div class="large-6 columns">
								<h3>Perfil</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid reprehenderit nesciunt, dolores, maiores placeat repellat esse perspiciatis harum, illo odit officia quidem nisi distinctio deleniti ipsum! Molestiae, deleniti, quas!</p>

								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fugiat eius libero eum dolor velit placeat quidem, cumque aperiam aliquam. Sit nemo, distinctio nisi ipsum libero autem! In, maiores, veritatis.</p>

								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam laboriosam placeat dignissimos praesentium reiciendis asperiores assumenda, sint eos aspernatur cupiditate! Veritatis, beatae, accusamus! Nemo illo enim iusto nesciunt, culpa in.</p>

								<h4 class="subheader">Comissões de que faz parte</h4>
								<ul>
									<li>Presidente da Comissão de Trabalho Legislação Social e Seguridade Social</li>
									<li>Membro da Comissão de Defesa Civil</li>
									<li>Membro da Comissão de Legislação Constitucional Complementar e Códigos</li>
									<li>Membro da Comissão de Segurança Pública e Assuntos de Polícia</li>
									<li>Membro da Comissão de Servidores Públicos</li>
									<li>Suplente da Comissão de Constituição e Justiça</li>
									<li>Suplente da Comissão de Emendas Constitucionais e Vetos</li>
									<li>Suplente da Comissão de Esportes e Lazer</li>
									<li>Membro da CPI da Petrobrás</li>
									<li>Membro da CPI do Telemarketing</li>
								</ul>
							</div>
								<div class="large-6 columns">

								<div class="">
								
								<h4 class="subheader">Prestação de contas</h4>
								<ul>
									<li><a href="#">Prestação de contas do TRE</a></li>
									<li><a href="#">Download da prestação de contas do mandato</a></li>
								</ul>

								<h4 class="subheader">Equipe do mandato</h4>
								<dl>
									<dt>Administração</dt>
									<dd>EdsonChefe De Gabinete</dd>
									<dt>Assessoria de Comunicação</dt>
									<dd>Leonardo - Assessor Parlamentar IV</dd>
									<dt>Assessoria de Imprensa</dt>
									<dd>Cristiane - Assessor Parlamentar IV</dd>
									<dt>Assessoria de Plenário</dt>
									<dd>Paulo César - Assessor Parlamentar IV</dd>
									<dt>Assessoria Técnica Parlamentar</dt>
									<dd>Gilmar - Assessor Parlamentar V</dd>
									<dd>Fernanda - Assessor Parlamentar V</dd>
									<dd>Renan - Assessor Parlamentar VII</dd>
									<dt>Assessoria Jurídica</dt>
									<dd>Marcelo - Assessor Parlamentar III</dd>
									<dt>Assessoria Regional</dt>
									<dd>Cláudio - Assessor Parlamentar VI</dd>
									<dd>Marcelo - Assessor Parlamentar VIII</dd>
									<dd>Rosiméri - Assessor Parlamentar VIII</dd>
									<dd>Anacreon - Assessor Parlamentar VIII</dd>
									<dd>Ana Lucia - Assessor Parlamentar IX</dd>
								</dl>
								<!--
								<ul>
									<li>Edson – Administração – Chefe De Gabinete</li>
									<li>Leonardo – Assessoria de Comunicação – Assessor Parlamentar IV</li>
									<li>Cristiane – Assessoria de Imprensa – Assessor Parlamentar IV</li>
									<li>Paulo César – Assessoria de Plenário – Assessor Parlamentar IV</li>
									<li>Gilmar – Assessoria Técnica Parlamentar – Assessor Parlamentar V</li>
									<li>Fernanda – Assessoria Técnica Parlamentar – Assessor Parlamentar V</li>
									<li>Renan – Assessoria Técnica Parlamentar – Assessor Parlamentar VII</li>
									<li>Marcelo – Assessoria Jurídica – Assessor Parlamentar III</li>
									<li>Cláudio – Assessoria Regional – Assessor Parlamentar VI</li>
									<li>Marcelo – Assessoria Regional – Assessor Parlamentar VIII</li>
									<li>Rosiméri – Assessoria Regional – Assessor Parlamentar VIII</li>
									<li>Anacreon – Assessoria Regional – Assessor Parlamentar VIII</li>
									<li>Ana Lucia – Assessoria Regional – Assessor Parlamentar IX</li>
								</ul>
								-->
								</div>
	
							</div>

							

						</article>
					
				</div>

		    </div>
		</div><!-- .site-content -->
	</div><!-- .site-main -->

{% include widget-area-footer.html %}
{% include newsletter.html %}
{% include footer.html %}