{% include header.html %}

    <div class="site-main">
    	<div class="page-header site-section">
	    	<div class="row">
		    	<div class="large-12 columns">
		    		<h1>Parlamentar</h1>
		    		<h3 class="subheader">Deputado Estadual</h3>
		    	</div>
	    	</div>
    	</div>
    	<div class="site-content site-section">
		    <div class="row">
				<div class="medium-8 columns">
					
						<article class="hentry clearfix">
							<div class="entry-image">
								<img class="th" src="https://api.fnkr.net/testimg/667x375/ddd/666/?text=Foto+do+parlamentar">
							</div>

							<div class="row">
								<div class="large-7 columns">
									<dl>
										<dt>Nome</dt><dd>Nome do parlamentar</dd>
										<dt>Idade</dt><dd> 74 anos (18/04/1941)</dd>
										<dt>Naturalidade</dt><dd>Curitiba - PR</dd>
										<dt>Estado Civil</dt><dd>Casado</dd>
										<dt>Ocupação</dt><dd>Advogado</dd>
										<dt>Escolaridade</dt><dd>Superior completo</dd>
									</dl>
								</div>
								<div class="large-5 columns">


									<div class="panel">
										<strong>Contato</strong>
										<ul>
											<li>Rua Dom João, S/N Centro. Curitiba - PR</li>
											<li>Telefone: (41) 3077-9900</li>
											<li>Email: <a href="#">email@partidorede.org.br</a></li>
										</ul>
									</div>
									
									<div class="panel">
										<strong>Páginas</strong>
										<ul>
											<li><a href="#">Wikipedia</a></li>
											<li><a href="#">Facebook</a></li>
											<li><a href="#">Twitter</a></li>
											<li><a href="#">YouTube</a></li>
										</ul>
									</div>
								</div>
							</div>

							<hr>

							<div class="panel">
			
							<h2>Transparência</h2>
							<hr>
							<h4 class="subheader">Prestação de contas</h4>
							<ul>
								<li><a href="#">Prestação de contas do TRE</a></li>
								<li><a href="#">Download da prestação de contas do mandato</a></li>
							</ul>

							<h4 class="subheader">Equipe do mandato</h4>
							<dl>
								<dt>Administração</dt>
								<dd>EdsonChefe De Gabinete</dd>
								<dt>Assessoria de Comunicação<dt>
								<dd>Leonardo - Assessor Parlamentar IV</dd>
								<dt>Assessoria de Imprensa<dt>
								<dd>Cristiane - Assessor Parlamentar IV</dd>
								<dt>Assessoria de Plenário<dt>
								<dd>Paulo César - Assessor Parlamentar IV</dd>
								<dt>Assessoria Técnica Parlamentar<dt>
								<dd>Gilmar - Assessor Parlamentar V</dd>
								<dd>Fernanda - Assessor Parlamentar V</dd>
								<dd>Renan - Assessor Parlamentar VII</dd>
								<dt>Assessoria Jurídica<dt>
								<dd>Marcelo - Assessor Parlamentar III</dd>
								<dt>Assessoria Regional<dt>
								<dd>Cláudio - Assessor Parlamentar VI</dd>
								<dd>Marcelo - Assessor Parlamentar VIII</dd>
								<dd>Rosiméri - Assessor Parlamentar VIII</dd>
								<dd>Anacreon - Assessor Parlamentar VIII</dd>
								<dd>Ana Lucia - Assessor Parlamentar IX</dd>
							</dl>
							<!--
							<ul>
								<li>Edson – Administração – Chefe De Gabinete</li>
								<li>Leonardo – Assessoria de Comunicação – Assessor Parlamentar IV</li>
								<li>Cristiane – Assessoria de Imprensa – Assessor Parlamentar IV</li>
								<li>Paulo César – Assessoria de Plenário – Assessor Parlamentar IV</li>
								<li>Gilmar – Assessoria Técnica Parlamentar – Assessor Parlamentar V</li>
								<li>Fernanda – Assessoria Técnica Parlamentar – Assessor Parlamentar V</li>
								<li>Renan – Assessoria Técnica Parlamentar – Assessor Parlamentar VII</li>
								<li>Marcelo – Assessoria Jurídica – Assessor Parlamentar III</li>
								<li>Cláudio – Assessoria Regional – Assessor Parlamentar VI</li>
								<li>Marcelo – Assessoria Regional – Assessor Parlamentar VIII</li>
								<li>Rosiméri – Assessoria Regional – Assessor Parlamentar VIII</li>
								<li>Anacreon – Assessoria Regional – Assessor Parlamentar VIII</li>
								<li>Ana Lucia – Assessoria Regional – Assessor Parlamentar IX</li>
							</ul>
							-->
							</div>
	
							<hr>

							<h2>Perfil</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid reprehenderit nesciunt, dolores, maiores placeat repellat esse perspiciatis harum, illo odit officia quidem nisi distinctio deleniti ipsum! Molestiae, deleniti, quas!</p>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fugiat eius libero eum dolor velit placeat quidem, cumque aperiam aliquam. Sit nemo, distinctio nisi ipsum libero autem! In, maiores, veritatis.</p>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam laboriosam placeat dignissimos praesentium reiciendis asperiores assumenda, sint eos aspernatur cupiditate! Veritatis, beatae, accusamus! Nemo illo enim iusto nesciunt, culpa in.</p>

							<h4>Comissões de que faz parte</h4>
							<ul>
								<li>Presidente da Comissão de Trabalho Legislação Social e Seguridade Social</li>
								<li>Membro da Comissão de Defesa Civil</li>
								<li>Membro da Comissão de Legislação Constitucional Complementar e Códigos</li>
								<li>Membro da Comissão de Segurança Pública e Assuntos de Polícia</li>
								<li>Membro da Comissão de Servidores Públicos</li>
								<li>Suplente da Comissão de Constituição e Justiça</li>
								<li>Suplente da Comissão de Emendas Constitucionais e Vetos</li>
								<li>Suplente da Comissão de Esportes e Lazer</li>
								<li>Membro da CPI da Petrobrás</li>
								<li>Membro da CPI do Telemarketing</li>
							</ul>

						</article>
					
				</div>

				{% include sidebar.html %}

		    </div>
		</div><!-- .site-content -->
	</div><!-- .site-main -->

{% include footer.html %}