{% include header.html %}

    <div class="site-main">
    	<div class="page-header site-section">
	    	<div class="row">
		    	<div class="large-12 columns">
		    		<h1 class="page-title">Deputados</h1>
		    		<h3 class="subheader">Lista dos deputados estaduais e federais do partido</h3>
		    	</div>
	    	</div>
    	</div>
    	<div class="site-content site-section">
		    <div class="row">
				<div class="large-12 columns">

					<div class="entry-content"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque aspernatur, labore perferendis nihil non ullam maxime molestiae facere illum cupiditate, nobis cum tempore placeat architecto dolorum provident mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dignissimos magnam sapiente quod rem quaerat! Vero voluptates fugit nulla, similique animi, architecto eum ratione veniam at error rem, praesentium excepturi.</p>

					</div>
					
					<div class="row">
						<div class="large-3 columns">
							<article class="hentry">
								<div class="entry-image">
									<a href="{{ site.baseurl }}/parlamentar/"><img class="th" src="https://api.fnkr.net/testimg/300/ddd/666/?text=Foto"></a>
								</div>
								<h3 class="entry-title entry-title__parliamentarian text-center"><a href="{{ site.baseurl }}/parlamentar/">Ricardo Borges</a></h3>
							</article>
						</div>
						<div class="large-3 columns">
							<article class="hentry">
								<div class="entry-image">
									<a href="{{ site.baseurl }}/parlamentar/"><img class="th" src="https://api.fnkr.net/testimg/300/ddd/666/?text=Foto"></a>
								</div>
								<h3 class="entry-title entry-title__parliamentarian text-center"><a href="{{ site.baseurl }}/parlamentar/">Diana dos Santos</a></h3>
							</article>
						</div>
						<div class="large-3 columns">
							<article class="hentry">
								<div class="entry-image">
									<a href="{{ site.baseurl }}/parlamentar/"><img class="th" src="https://api.fnkr.net/testimg/300/ddd/666/?text=Foto"></a>
								</div>
								<h3 class="entry-title entry-title__parliamentarian text-center"><a href="{{ site.baseurl }}/parlamentar/">Marcos Almeida de César</a></h3>
							</article>
						</div>
						<div class="large-3 columns">
							<article class="hentry">
								<div class="entry-image">
									<a href="{{ site.baseurl }}/parlamentar/"><img class="th" src="https://api.fnkr.net/testimg/300/ddd/666/?text=Foto"></a>
								</div>
								<h3 class="entry-title entry-title__parliamentarian text-center"><a href="{{ site.baseurl }}/parlamentar/">Doutor Fabiano</a></h3>
							</article>
						</div>
					</div>
					
				</div>

		    </div>
		</div><!-- .site-content -->
	</div><!-- .site-main -->

{% include widget-area-footer.html %}
{% include newsletter.html %}
{% include footer.html %}